:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;
}

.navbar{
    flex: 0.2;
    background-color: rgb(0, 21, 41);
}

.main{
    flex: 0.8;
    width: 100%;
    
}
.routes{
    padding: 20px;
}
.nav-container{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}
.navbarHeader{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    
}

.logo-container{
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}
.logo{
    margin:0 0 0 15px;
}
.logo a{
   color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headericons{
    padding: 10px;
    height: 50px;

   
  
}
.headeritems{
align-items: center;
 display: flex;
 height: 120px;
 background-color: rgb(0, 21, 41);
 width: 100%;
 justify-content: center;

}
.header{
display: flex;
position: fixed;
width: 100%;
}
.headertext{
    width: 300px;
  align-items: center;
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
}
.textHeader{
    color: white;
    

}
.subtextHeader{
    color: white;
   margin-left: -115px;
    margin-top: 30px;
    font-size: 9px;

}
#shooter{
    height: 100px;
}
.news{
    justify-content: center;
    
  
    border: 1px solid #c7cdd3d8;
    display: flex;
    align-self:center;
    width: 800px;
    margin-top: 130px;
  
}
.newsformat{
   
    width: 800px;
    height: 400px;
    margin-top: 0px;
    justify-content: center;
    display: flex;
    align-self: center;
    background-image: url(./images/fundo.jpg);
    margin-bottom: 00px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 20.95px 20.95px 2.6px;
}
.noticiasimage{
    width: 320px;
    height: 140px;
    
    display: flex;
    position: relative;
}
.noticias{
    margin-top: 15vh;
    width: 420px;
    margin-right: 10px;
    right: 0;
    height: 810px;
    justify-content: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: rgba(238, 241, 245, 0.925);
    
}
.e-sports{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: flex;
    align-self: center;
    width: 320px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
    
}

.noticiastext{
    margin: 10px;
}
.imageteam{

    width: 160px;
    height: 160px;
    margin-top:120px;
    display: flex;


}   
.versus{
width: 300px;
height: 100px;

color: white;
padding: 0px;
font-size: 40px;
display: flex;
margin-top: 160px;
justify-content: center;
}

@media screen and (max-width:1300px){
  
.footer {
    margin-top: 80px;
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
}